/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #fbd142;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: black;
  line-height: 0;
}

.back-to-top :hover {
  color: black !important;
}

.back-to-top:hover {
  background: #f3ca4c;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #fbd142;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    /*margin-left: 100px;*/
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: black;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: black;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: black;
  background: #fbd142;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: black;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: black;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: white;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #fbd142;
}

/*--------------------------------------------------------------
# section-1 Section
--------------------------------------------------------------*/
#section-1 button[type=submit] {
  background: #fbd142;
  border: 0;
  padding: 10px 35px;
  color: black;
  transition: 0.4s;
  border-radius: 50px;
  font-size: 18px !important;
}
#section-1 button[type=submit]:hover {
  background: #f3ca4c;
  color: #000000;
}

#section-1 {
  width: 100%;
  height: 100vh;
  background: url("../img/banner-2.png") no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #section-1 {
    padding-left: 160px;
  }

  #section-1 .banner{
    width: 33%;
  }

  #section-1 .img-logo{
    display: none;
  }

}

#section-1:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#section-1 h1 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 56px;
  color: #fbd142;
}

#section-1 p {
  color: #fbd142;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#section-1 p span {
  color: #fbd142;
  letter-spacing: 1px;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  font-size: 24px;
  display: inline-block;
  color: #f3ca4c;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #fbd142;
}

@media (max-width: 992px) {
  #section-1 {
    text-align: center;
  }

  #section-1 .banner{
    width: 70%;
    margin-top: 5%;
  }

  #section-1 h1 {
    display: none;
  }

  #section-1 p {
    display: none;
  }

  #section-1 .img-logo{
    display: absolute;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 100px;
  overflow: hidden;
}

@media (max-width: 992px) {
  section {
    padding: 60px 0px;
  }
  .fondo-difuso {
    padding: 60px 0px;
  }
}

.section-title {
  padding-bottom: 5px;
  text-align: left;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  color: #45505b;
  text-align: center;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Section 2
--------------------------------------------------------------*/
.section-2 button[type=submit] {
  background: #fbd142;
  border: 0;
  padding: 10px 35px;
  color: black;
  transition: 0.4s;
  border-radius: 50px;
}
.section-2 button[type=submit]:hover {
  background: #f3ca4c;
  color: #000000;
}
.section-2 .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.section-2 .content ul {
  list-style: none;
  padding: 0;
}

.section-2 .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.section-2 .content ul strong {
  margin-right: 10px;
}

.section-2 .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #fbd142;
  line-height: 0;
}

.section-2 .content p:last-child {
  margin-bottom: 0;
}

/*-----------------------------------------------------------------*/
/*  Video
/*-----------------------------------------------------------------*/


#section-5 {
  background:url(../../assets/img/banda.png) no-repeat;
}

.fondo-difuso{
  /* background-color: #fff; */
  padding: 2rem 3rem;
  text-align: center;
  color: #fff;
  box-shadow: 0px 0px 25px #222;
  backdrop-filter: blur(10px);
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  text-align: center;
  margin-right: 4%;
  margin-left: 4%;
}

.testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: white;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #f3ca4c;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: white;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #fbd142;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fbd142;
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*-----------------------------------------------------------------*/
/* Section 4
/*-----------------------------------------------------------------*/



.links-propiedades-items {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.links-propiedades-items .item {
  background: #fff;
  height: auto;
  font-weight: 300;
  margin:0px 10px 10px;
  padding: 15px;
  cursor: pointer;
}

.links-propiedades-items .item img {
  margin-bottom: 20px;
}

.links-propiedades-items .item h4 {
  margin-bottom: 6px;
}

.links-propiedades-items .item h5 {
  font-weight: 600;
  text-transform: none;
  font-size: 14px;
  color: #464745;
}

.links-propiedades-items .item p {
  margin-bottom: 9px;
}

.socials {
  margin-bottom: 10px;
  margin-top: 15px;
  width: 100%;
}

.socials ul {
  margin:0px;
  padding:0px;
}

.socials ul li {
  display:inline-block;
  list-style:none;
}

.socials ul li a {
  background: #FFF;
  border: 1px solid #A9ACAE;
  color: #A0A3A5;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  margin-left: 5px;
  text-align: center;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;

}

.socials ul li a:hover {
  background:#7EC13F;
  border-color:#7EC13F;
  color:#FFF;
}

#section-4 .owl-theme .owl-controls {
  margin-top: 0px;
  text-align: center;
  position: relative;
  height: 0px;
}

#section-4 .owl-prev, #section-4 .owl-next {
  display: block;
  width: 30px;
  height: 30px;
  line-height:20px;
  font-size:20px;
  border-radius:0;
  opacity:1;
  background:#FA3636;
  position: absolute;
  transition: all 0.3s ease 0s;
}

#section-4 .owl-prev {
  right: 50%;
  margin-right: 10px;
}

#section-4 .owl-next {
  left: 50%;
  margin-left: 10px;
}

#section-4 .owl-prev:hover, #section-4 .owl-next:hover {
  background:#3C3C3C;
}


/*--------------------------------------------------------------
# Section 5
--------------------------------------------------------------*/
button[type=submit] {
  background: #fbd142;
  border: 0;
  padding: 10px 35px;
  color: black;
  transition: 0.4s;
  border-radius: 50px;
}
button[type=submit]:hover {
  background: #f3ca4c;
  color: #000000;
}

.align-items-stretch{
  padding-left: 5%;
  padding-right: 5%;
}

.section-5 .icon-box {
  text-align: center;
  padding: 20px 20px 10px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.section-5 .icon-box .icon {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.section-5 .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.section-5 .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.section-5 .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.section-5 .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.section-5 .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.section-5 .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.section-5 .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.section-5 .iconbox-blue i {
  color: #47aeff;
}

.section-5 .iconbox-blue:hover .icon i {
  color: #fff;
}

.section-5 .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.section-5 .iconbox-orange i {
  color: #ffa76e;
}

.section-5 .iconbox-orange:hover .icon i {
  color: #fff;
}

.section-5 .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.section-5 .iconbox-pink i {
  color: #e80368;
}

.section-5 .iconbox-pink:hover .icon i {
  color: #fff;
}

.section-5 .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.section-5 .iconbox-yellow i {
  color: #ffbb2c;
}

.section-5 .iconbox-yellow:hover .icon i {
  color: #fff;
}

.section-5 .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.section-5 .iconbox-red i {
  color: #ff5828;
}

.section-5 .iconbox-red:hover .icon i {
  color: #fff;
}

.section-5 .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.section-5 .iconbox-teal i {
  color: #11dbcf;
}

.section-5 .iconbox-teal:hover .icon i {
  color: #fff;
}

.section-5 .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}


.blog__item {
  -webkit-box-shadow: 0px 3px 10px rgba(22, 41, 124, 0.1);
  box-shadow: 0px 3px 10px rgba(22, 41, 124, 0.1);
  margin-bottom: 50px;
}

.blog__item__pic img {
  min-width: 100%;
}

.blog__item__text {
  text-align: center;
  background: #ffffff;
  padding: 20px 20px 25px;
}

.blog__item__text span {
  font-size: 20px;
  text-transform: uppercase;
  color: #fbd142;
}
.blog__item__text span a {
  font-size: 24px;
  display: inline-block;
  color: #fbd142;
  line-height: 1;
  transition: 0.3s;
}

.blog__item__text span a:hover {
  color: #f3ca4c;
}

.blog__item__text h5 {
  color: #111111;
  font-weight: 700;
  line-height: 26px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 12px;
}

.blog__item__text ul li {
  font-size: 13px;
  color: #888888;
  list-style: none;
}



/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -50px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: #f3ca4c;
  transition: 0.3s;
  width: 100%;
}

.video-icon .portfolio-wrap .portfolio-links a:hover {
  background: red;
}



.portfolio-wrap .portfolio-links a+a {
  border-left: 1px solid #37b3ed;
}

.portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}




/*--------------------------------------------------------------
# Section-6
--------------------------------------------------------------*/

#section-6 {
  background-color: #f9f8fb;
}
#section-3 {
  background:url(../../assets/img/zoom.png) no-repeat;
}

.play-video {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.2%;
  margin-bottom: 20px;
}
.play-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-caption-main {
  margin-bottom:30px;
  height: 300px;
  overflow-y: scroll;
  text-align: center;
}
.video-caption-main button[type=submit] {
  background: #fbd142;
  border: 0;
  padding: 10px 35px;
  color: black;
  transition: 0.4s;
  border-radius: 50px;
}
.video-caption-main button[type=submit]:hover {
  background: #f3ca4c;
  color: #000000;
}

.video-caption {
  margin-bottom:30px;
  color: #E7E7E7;
}

#section-6 h4 {
  line-height: 26px;
  color: #fbd142;
  text-transform: none;
}

.video-caption p {
  color: #FFF;
}

.video-caption .video-icon {
  display: inline-block;
  margin: 5%;
  line-height: 70px;
  text-align: center;
  color: #FFF;
  font-size: 30px;
  float: left;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.video-caption:hover .video-icon{
  background:#FFF;
  border-color:#FFF;
  color:#7EC13F;
}

.video-caption .video-caption-info {
  margin-left:100px;
}


/*Para colocar una imagen en el fondo que se termine de pasar cuando pase todo el contenido*/
.parallax .container {
  position:relative;
}

.parallax {
  background-attachment: fixed !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000000;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}




@media (max-width: 991px) {
#footer img{
  width: 100%;
}
}

@media (min-width: 991px) {
#footer img{
  width: 35%;
}
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fbd142;
  color: black;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #f3ca4c;
  color: #000000;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}